td{
  padding: .5rem 1rem;
  text-align: left;
  background-color: #2f2f33;
  position: relative;
}

td:first-child{
  width: 1rem;
}

td:has(button){
  display: flex;
  justify-content: center;
  gap: .25rem;
}

td button.editar, td button.eliminar, td button.cancelar, td button.guardar{
  padding: .25rem;
  border-radius: 10rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: rgb(240, 240, 240);
}

td button:hover{
  background-color: rgb(240, 163, 76);
}

td button.cancelar{
  background-color: rgb(226, 81, 81);
  color: rgb(240, 240, 240);
}

td button.guardar{
  background-color: rgb(73, 177, 82);
  color: rgb(240, 240, 240);
}

td button:active{
  background-color: rgb(240, 240, 240);
}

td button span{
  font-size: 1rem;
}

td button:hover span{
  color: #1d1818;
}

.orange{
  color: rgb(240, 163, 76);
}

.white{
  color: rgb(240, 240, 240);
}

.hidden{
  display: none;
}

.errorActivo, .errorPrecio{
  position: absolute;
  padding: .2rem .5rem;
  background-color: rgba(240, 240, 240, .9);
  border-radius: .5rem;
  color: rgb(226, 81, 81);
  font-size: .7rem;
  z-index: 1;
  transform: translateX(50%);
  top: -25%;
}

.errorPrecio{
  left: -7.5rem;
  width: 16.5rem;
}

.errorActivo{
  left: -3rem;
  width: 8rem;
}
